{{ template "layout.html" . }}
{{define "title"}}
    <title>添加文章</title>
{{end}}
{{define "main_body"}}
<div class="main_body" id="main_body">
    <div class="breadcrub">
        当前位置：文章管理>添加文章
    </div>
    <div class="pannel">
        <form method="POST"  enctype="multipart/form-data">
        <h3 class="review_title">添加文章</h3>
        <div class="form_group">
            <label>文章标题：</label>
            <input type="text" class="input_txt2" name="articleName" >
        </div>
        <div class="form_group">
            <label>文章类型：</label>
            <select class="sel_opt" name="select">
            {{range .articletypes}}
                <option>{{.TypeName}}</option>
            {{end}}
            </select>
        </div>
        <div class="form_group">
            <label>文章内容：</label>
            <textarea class="input_multxt" name="content"></textarea>
        </div>
        <div class="form_group">
            <label>上传图片：</label>
            <input type="file" class="input_file"  name="uploadname">
        </div>
        <div class="form_group indent_group line_top">
            <input type="submit" value="添 加" class="confirm">
            <span>{{.errmsg}}</span>
        </div>
        </form>
    </div>
</div>
{{end}}