{{ template "layout.html" . }}
{{define "title"}}
    <title>文章内容</title>
{{end}}
{{define "main_body"}}
   <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理>文章列表>文章详情
        </div>
        <div class="pannel">
            <h3 class="review_title">文章详情</h3>
            <div class="form_group">
                <label>文章标题：</label>
                <p class="detail"><b>{{.content.Title}}</b></p>
            </div>
            <div class="form_group">
                <label>文章类型：</label>
                <p class="detail">体育新闻</p>
            </div>
            <div class="form_group">
                <label>文章内容：</label>
                <p class="detail"><img src="{{.content.Img}}"> {{.content.Content}}</p>
            </div>
            <div class="form_group">
                <label>阅读次数：</label>
                <p class="detail">{{.content.Count}}</p>
            </div>
            <div class="form_group">
                <label>最近浏览：</label>
                <p class="detail">{{range .users}}{{.Name}} | {{end}}</p>
            </div>
            <div class="form_group">
                <label>创建时间：</label>
                <p class="detail">{{.content.CreateTime.Format "2006-01-02 15:04:05"}}</p>
                <span>{{.errmsg}}</span>
            </div>
        </div>
    </div>
{{end}}
